:root {
  --clr-text: #222222;
  --clr-bg: #f0f0f0;
  --clr-border: #dadada;
  --clr-clicks-bg: #7474ff;

  --clr-link: #1f32ff;

  --clr-pagination-bg: #ececec;
  --clr-pagination-active: #6c6cff;

  --clr-button-bg: #ffffff;
  --clr-button-border: #444444;
  --clr-button-active: #f5f5f5;

  --clr-input-bg: #ffffff;
  --clr-input-border: #444444;
  --clr-input-active: rgb(70, 101, 255);
  --clr-input-active-shadow: rgba(70, 101, 255, 50);

  --clr-error: #ff5959;
}
